@{
    ViewBag.Title = "About";
}
<div class="s-pageheader">

    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a class="logo" href="@Url.Action("Index", "Home")">
                    <img src="/images/BLG.jpg" alt="Homepage">
                </a>
            </div> <!-- end header__logo -->

            <ul class="header__social">
                <li>
                    <a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="http://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="http://www.pinterest.com"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->

           


            <a class="header__toggle-menu" href="/#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

                <ul class="header__nav">
                    <li class="current"><a href="@Url.Action("Index", "Home")">Anasayfa</a></li>
                    <li class="has-children">
                        <a href=>Kategoriler</a>
                        <ul class="sub-menu">

                            @foreach (var item in ViewBag.Categories)
                            {
                                <li>
                                    <a href="@Url.Action("Details","Category",new { id = item.Id })">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Galery")">Galeri</a>
                    </li>
                    <li><a href="@Url.Action("About", "Home")">Hakkında</a></li>
                    <li><a href="@Url.Action("contact", "Home")">İletişim</a></li>
                </ul> <!-- end header__nav -->

                <a href="/#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div> <!-- header-content -->
    </header> <!-- header -->

</div> <!-- end s-pageheader -->
<section class="s-content s-content--narrow">

    <div class="row">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Hakkımızda
            </h1>
        </div> <!-- end s-content__header -->

        <div class="s-content__media col-full">
            <div class="s-content__post-thumb">
                <img src="images/thumbs/about/about-1000.jpg"
                     srcset="images/thumbs/about/about-2000.jpg 2000w,
                                 images/thumbs/about/about-1000.jpg 1000w,
                                 images/thumbs/about/about-500.jpg 500w"
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="">
            </div>
        </div> <!-- end s-content__media -->

        <div class="col-full s-content__main">

            <p class="lead">Blog safamızın amacı biz kimiz, neler yaptık, neler yapmak istiyoruz. Bizi daha iyi tanımanız için.. </p>

            <p>
                Blog sayfamızın backend ve front end kısmında gerekli işlerin tamamlanmasını sağlayan Ali Fukan Gökçe'ir. Ali Furkan Gökçe 24 yaşındadır. Lisans hayatını İstanbul sabahattin zaim üniversitesi - Bilgisayar mühendisliği bölümünde tamamlamıştır. Profesyonel iş hayatına atılmadan önce işkur nitelikli bilişim uzmanı yetiştirme programına katılıp kendini yazılım konusunda geliştirmek istemiştir. İş hayatına front end developer olarak başlayıp kendini bu konuda uzmanlaştırmak istemektedir. Ali mesleği için araşırma yaptığı zamanların dışında spora çok vakit ayırır. Vücut gelişirme Ali'nin hem rahatlama hem kendini dinleme biçimidir. Ayrıca sıkı bir voleybol oyuncusudur. Su sporlarıyla ilgilidir. Satranç oynamayı zihninin geliştirdiğini savunur ve bunu bir iş gibi görür. Ali müzikle de ilgilidir ve bağlama çalar. Amatör olarak yaptığı bu hobi onu rahatlatmasının yanında arkadaşlarını eğlendimeyi de hedefler. Müze gezmek de Ali'nin sevdiği akiviteler arasındadır. Sitemizin tasarımında yardımcı ve içerikleri hazırlayan Onur Altınkaya 26 yaşındadır. Beykent üniversitesi - Matematik/Bilgisayar bölümünü bitirmiştir. Onur üniversite hayatını bitirdikten sonra yazılımda kendini geliştirmek için java eğitimi almışır. Daha sonra o da  işkur nitelikli bilişim uzmanı yetiştirme programına katılıp C# ve .NET eğitimi almıştır. Ali ve Onur bu kurs sayesinde tanıştı. Onur yazılımla ilgili aldığı eğitimler ve araştırmalar sonucunda iş hayatına tester olarak başlayıp, test uzmanı ve test mühendisliğine yükselmek istemektedir. Onur eğitim hayatı dışında kalan zamanlarda spor ve müziğe çok zaman ayırır. 5 yıldır vücut geliştime ile ilgilenmektedir. Lise hayatında lisanslı olarak basketbol oynamıştır ve yüzmeyi çok sever. Farklı tarzda müzik türlerini takip etiken sonra sıkı bir elektronik müzik takipçisi olmuştur. Bununla ilgili araştırmalar yapar kullanabildiği klavye, saksafon ve programlar sayesinde müzik üretmekte ister. 
            </p>

           

            <div class="row block-1-2 block-tab-full">
          

                <div class="col-block">
                    <h3 class="quarter-top-margin">Misyonumuz</h3>
                    <p>İş hayatında başlayıp devam etmek istediğimiz alanlarda işimizin en iyilerinden olmak misyonumuzdur. Farklı freelance projelerde bir araya gelip birbirimizi geliştirmede yardımcı olmak ve ilgi alanlarımızla yaptığımız işi harmanlayıp ortaya güzel işler çıkarmak da en önemli misyonumuzdur.</p>
                </div>

              
            </div>


        </div> <!-- end s-content__main -->

    </div> <!-- end row -->

</section> <!-- s-content -->
<!-- s-extra
================================================== -->
 <!-- end s-extra -->
