@model Blog.Web.Models.Contacts
@{
    ViewBag.Title = "Contact";

}
<div class="s-pageheader">

    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a class="logo" href="@Url.Action("Index", "Home")">
                    <img src="/images/BLG.jpg" alt="Homepage">
                </a>
            </div> <!-- end header__logo -->

            <ul class="header__social">
                <li>
                    <a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="http://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="http://www.pinterest.com"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->

            <a class="header__search-trigger" href="/#0"></a>

            <div class="header__search">

                <form role="search" method="get" class="header__search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="/#0" title="Close Search" class="header__overlay-close">Close</a>

            </div>  <!-- end header__search -->


            <a class="header__toggle-menu" href="/#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

                <ul class="header__nav">
                    <li class="current"><a href="@Url.Action("Index", "Home")">Anasayfa</a></li>
                    <li class="has-children">
                        <a href="@Url.Action("Index", "Category")">Kategoriler</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="@Url.Action("Index", "Category")">Kategoriler</a>
                            </li>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <li>
                                    <a href="@Url.Action("Details","Category",new { id = item.Id })">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Galery")">Galeri</a>
                    </li>
                    <li><a href="@Url.Action("About", "Home")">Hakkında</a></li>
                    <li><a href="@Url.Action("contact", "Home")">İletişim</a></li>
                </ul> <!-- end header__nav -->

                <a href="/#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div> <!-- header-content -->
    </header> <!-- header -->

</div> <!-- end s-pageheader -->
<!-- s-content
================================================== -->
<section class="s-content s-content--narrow">

    <div class="row">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                Bize ulaşın
            </h1>
        </div> <!-- end s-content__header -->

        <div class="s-content__media col-full">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=wissen&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.jetzt-drucken-lassen.de">jetzt-drucken-lassen.de</a></div>
            <style>
                .mapouter {
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }
            </style></div>
        </div> <!-- end s-content__media -->

        <div class="col-full s-content__main">

            <p class="lead">Tavsiyelerniz ve şikayeleriniz bizim için çok önemlidir. Ayrıca iş teklifleri için bize ulaşabileceğiniz bazı bilgiler aşağıdadır.</p>

            <div class="row">
                <div class="col-six tab-full">
                    <h3>Bizi nerede bulabilirsiniz?</h3>

                    <p>
                        Barbaros bulvarı, Yıldız iş hanı<br>
                        No:9/3 Beşiktaş-İstanbul<br>
                        34353
                    </p>

                </div>

                <div class="col-six tab-full">
                    <h3>İletişim Bilgileri</h3>

                    <p>
                        onuralinkayaa@gmail.com<br>
                        alifurkangokce@gmail.com<br>
                        Phone: (+1) 123 456
                    </p>

                </div>
            </div> <!-- end row -->

            <h3>Merhaba</h3>
            <div class="col-lg-12">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger">@ViewBag.Message</div>
                }
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="form-horizontal col-lg-6">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("Error", new { @class = "text-danger" })

                            <div class="form-group">

                                @Html.LabelFor(modelItem => modelItem.FirstName, new { @class = "control-label col-md-6" })

                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(modelItem => modelItem.LastName, new { @class = "control-label col-md-6" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="form-horizontal col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(modelItem => modelItem.Email, new { @class = "control-label col-md-6" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(modelItem => modelItem.Phone, new { @class = "control-label col-md-6" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-md-12">
                            <div class="col-md-12">
                                <label>Mesajınız <span class="required">*</span></label>
                                <textarea rows="2" id="message_contact" class="form-control" name="Mesajınız" style="margin-left:0px;margin-right:0px; width:631px;"></textarea>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="form-group">
                        <div class="col-lg-12 col-md-offset-2" style="float:right">
                            <input type="submit" class="btn btn-primary" value="Gönder" />
                        </div>
                    </div>


                }
            </div>

            <!-- end form -->


        </div> <!-- end s-content__main -->

    </div> <!-- end row -->

</section> <!-- s-content -->
<!-- s-extra
================================================== -->
<section class="s-extra">

    <div class="row top">



        <div class="col-four md-six tab-full about">


            <ul class="about__social">
                <li>
                    <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->
        </div> <!-- end about -->

    </div> <!-- end row -->



</section> <!-- end s-extra -->